{% extends 'MyPage/base.html' %}
{% block content %}

<h3>Chat with {{target.username}}</h3>
<div class="container">
    <ul id="chat-box" style="list-style: none; overflow: auto;">


    </ul>
</div>
<div class="container">
    <form id="chat_message">
        {% csrf_token %}
        Message:
        <div class="form-group">
            <input type="text"
            name="message"
            class="form-control"
            id="message"
            style="width: 50%;"
            onkeypress="return runScript(event)" 
            autocomplete="off" 
            maxlength="100"
            />
        </div>
    </form>
    <button id="send_button" class="btn btn-primary">Send</button>
</div>
<script>

    document.addEventListener('DOMContentLoaded', ()=>{
        
        document.querySelector('#send_button').onclick = ()=>{
            send_message();
        }
        load_messages;
        window.setInterval(load_messages, 1000,);
    })

    function runScript(e) {
    //See notes about 'which' and 'key'
    if (e.keyCode == 13) {
        send_message();
        return false;
    }
}
    function load_messages(){
        request = new XMLHttpRequest()
        request.open("GET", "{% url 'my-chat-get' target.id %}" )
        request.responseType = 'json';
        request.onload = ()=>{
            response = request.response;
            console.log(response)
            print_messages(response);
        }
        request.send();
    }
    function send_message(){
        form = new FormData(document.querySelector('#chat_message'));
        request = new XMLHttpRequest()
        request.open("POST", "{% url 'my-chat-send' target.id %}")
        request.onload = ()=>{
           load_messages();
           document.querySelector("#message").value = '';
        }
        request.send(form)
    }

    function print_messages(data){
        var ul, li, i = 1;
        ul = document.querySelector('#chat-box');
        ul.innerHTML = '';
        var len = data['sent_messages'].length
        for(message of data['sent_messages'].reverse()){        
            ul.append(document.createElement('br'));
            li = document.createElement('li');
            li.title=`${message.sent_by}: ${message.time_sent}`;

            if (message['sent_by'] == '{{ user.username }}'){
                if (len != i){
                    if(message['sent_by'] != data['sent_messages'][i]['sent_by'] || len == i){
                        li.innerHTML = `<img src="${message['sent_by_image']}" style="width: 35px;"`+
                        ` alt="No Profile Picture Set" class="rounded-circle">`;
                        
                    }
                    else{
                        li.innerHTML = '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                    }
                }
                else{
                    li.innerHTML = `<img src="${message['sent_by_image']}" style="width: 35px;"`+
                        ` alt="No Profile Picture Set" class="rounded-circle">`;
                }
                li.innerHTML += `&nbsp&nbsp&nbsp${message['message']}`;
                li.style.cssFloat = "left";
                li.style.textAlign = "left";
            }
            else{
                li.innerHTML = `${message['message']}`;
                if (len != i){
                    if(message['sent_by'] != data['sent_messages'][i]['sent_by']){
                        li.innerHTML += `&nbsp&nbsp&nbsp<img src="${message['sent_by_image']}" style="width: 35px;"`+
                        ` alt="No Profile Picture Set" class="rounded-circle" title="${message.sent_by}: ${message.time_sent}">`;
                        
                    }
                
                    else{
                        li.innerHTML += '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                    }
                }
                else{
                    li.innerHTML += `&nbsp&nbsp&nbsp<img src="${message['sent_by_image']}" style="width: 35px;"`+
                        ` alt="No Profile Picture Set" class="rounded-circle" title="${message.sent_by}: ${message.time_sent}">`;
                }
                li.style.cssFloat = "right";
                li.style.textAlign = "right";
               
            }
            ul.append(li);
            i++;   
        }
    }
</script>

{%endblock content %}