{% extends 'MyPage/base.html' %}
{% block content %}

<h3 class="border-bottom bottom-line">Chat with {{target.username}}</h3>
<div class="container table-responsive-md">
    <table class="table table-dark">

    </table>
</div>

<div class="container">
    <form id="chat_message">
        {% csrf_token %}
        Message:
        <div class="form-group">
            <input type="text"
            name="message"
            class="form-control"
            id="message"
            style="width: 50%;"
            onkeypress="return runScript(event)" 
            autocomplete="off" 
            maxlength="100"
            />
        </div>
    </form>
    <button id="send_button" class="btn btn-primary">Send</button>
    <div style="float: right;">
        Update: 
        <select id="update">
            <option value="auto">Auto</option>
            <option value="manual">Manual</option>
        </select>
        <span id="reload"></span>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        // Sets the button up and loads the messages
        document.querySelector('#send_button').onclick = ()=>{
            send_message();
        }
        load_messages;

        // Load messages for every 1500 ms
        window.setInterval(check_mode, 1500);
    })

    // Runs when enter key is pressed
    function runScript(e) {
        if (e.keyCode == 13) {
            send_message();
            return false;
        }
    }

    function check_mode(){
        document.querySelector('#reload').innerHTML = null;
        if (document.querySelector("#update").value == 'auto'){
            
            load_messages();
        }
        else if (document.querySelector("#update").value == 'manual'){
            button = document.createElement('button');
            button.onclick = ()=>{load_messages()};
            button.innerHTML = "Reload";
            document.querySelector('#reload').append(button);
        }
    }

    // Gets the messages from the server and runs print_messages function
    function load_messages(){
        fetch("{% url 'my-chat-get' target.id %}")
        .then(response => response.json())
        .then(data => print_messages(data));
    }
    
    // Sends the message to the server to be added to the database
    function send_message(){
        form = new FormData(document.querySelector('#chat_message'));
        request = new XMLHttpRequest()
        request.open("POST", "{% url 'my-chat-send' target.id %}")
        request.onload = ()=>{
           load_messages();
           document.querySelector("#message").value = '';
        }
        request.send(form)
    }

    // Prints the messages
    function print_messages(data){
        var tr = null, td = null, len = data.sent_messages.length, i = 1;
        var table = document.querySelector('table');
        table.innerHTML = null;
        for (message of data.sent_messages.reverse()){
            tr = document.createElement('tr');
            tr.title = `${message.sent_by}: ${message.time_sent}`;
            if (message.sent_by_id == {{ user.id }}){
                td = document.createElement('td');

                if (len != i){
                    if(message['sent_by'] != data.sent_messages[i].sent_by ){
                        td.innerHTML += `<img src="${message.sent_by_image}" class="rounded-circle chat_message_image"\>&nbsp&nbsp`;
                    }
                    else{
                        td.innerHTML += '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                    }
                }
                else{
                   td.innerHTML += `<img src="${message.sent_by_image}" class="rounded-circle chat_message_image"\>&nbsp&nbsp`;
                }
                
                td.innerHTML += `${message.message}`;

                td.style.cssFloat = "left";
                td.style.textAlign = "left";
                tr.append(td);
            }

            if (message.sent_by_id == {{ target.id }}){
                td = document.createElement('td');
                td.innerHTML += `${message.message}`;

                if (len != i){
                    if(message['sent_by'] != data.sent_messages[i].sent_by){
                        td.innerHTML += `&nbsp<img src="${message.sent_by_image}" class="rounded-circle chat_message_image"\>`;
                    }
                    else{
                        td.innerHTML += '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                    }
                }
                else{
                   td.innerHTML += `&nbsp<img src="${message.sent_by_image}" class="rounded-circle chat_message_image"\>`;
                }
                
                td.style.cssFloat = "right";
                td.style.textAlign = "right";
                tr.append(td);
            }
            table.append(tr);
            i++;
        }
        
    }
</script>

{%endblock content %}