{% extends 'MyPage/base.html' %}
{% block content %}
    <h3 class='border-bottom' style="width: 50%;">Inbox</h3>
    {% if not received_messages %}
        <h3> No messsages recieved </h3>
    {% endif %}
    {% for message in received_messages %}
    <div class="container" title="{{message.time_sent}}">
    <h4>From {{message.sent_by}} </h4>
        <div class="container">
            <h5>{{ message.title }}</h5>
            <div class="container">
                <p>{{ message.message }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if received_messages.has_other_pages %}
        {% if received_messages.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ received_messages.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in received_messages.paginator.page_range %}
            {% if received_messages.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > received_messages.number|add:'-3' and num < received_messages.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if received_messages.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ received_messages.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ received_messages.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock %}