{% extends "MyPage/base.html" %} 
{% block content %}
    <h2 class="border-bottom" style="margin-bottom: 2%; width: 40%; margin-right: 60%;">Latest Posts</h2>
        {% for post in posts %}
            {% if not post in user.profile.hidden_posts.all %}
                <div class="container" style="margin-bottom: 2%;">
                    
                    <h2 title="{{ post.time_posted }}">
                        <a href="{% url 'my-user' post.author.id %}" class="text-secondary">
                        <img src="{{ post.author.profile.image.url }}" style="width:5%;" class="rounded-circle" title="{{ post.author }}">
                        </a>
                        <a href="{% url 'my-post' post.id %}" class="text-secondary">
                        {{ post.title }}
                        </a>
                    </h2>
                    
                </div>
            {% endif %}
        {% endfor %}
        
{% endblock %}
