{% extends 'MyPage/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-bottom: 2%;">
    <h2 title="{{ post.time_posted }}">
        <a href="{% url 'my-user' post.author.id %}" class="text-secondary">
            <img src="{{ post.author.profile.image.url }}" style="width:5%;" class="rounded-circle" title="{{ post.author }}">
        </a>
        {{ post.title }}
    </h2>
    <div class="container">
        <p>{{ post.content|linebreaks }}</p>
    </div>
</div>
{% if user.is_authenticated %}
    <div class="container">
        <h5>Post Comment</h5>
        <form method="POST" action="{% url 'my-comment' post.id %}" style="width: 50%;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
    </br>
{% endif %}

<div class="container">
    <h3 class='border-bottom bottom-line'>Comments</h3>
        {% for comment in comments %}
            <a href="{% url 'my-user' comment.commenter.id %}" class="text-primary" title="{{ comment.time_commented }}">
                <h4>
                    <img src="{{ comment.commenter.profile.image.url }}" style="width:5%;" class="rounded-circle">
                    {{ comment.commenter }}
                </h4>
            </a>
            
            <div class="container">
                <p>{{ comment.comment|linebreaks }}</p>
            </div>
        {% endfor %}  
    </div>

    {% if comments.has_other_pages %}
        {% if comments.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ comments.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in comments.paginator.page_range %}
            {% if comments.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if comments.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ comments.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ comments.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}