{% extends 'MyPage/base.html' %}

{% block content %}
    <img src='{{ target.profile.image.url }}' style='width:10%;' alt="No Profile Picture Set" class="rounded-circle"> 
    <h1>
    {{ target.username }}
    </h1>

    {{ target.email }}

    </br>
    {% if user.is_authenticated %}
        {% if target == user %}
            
            <a href="{% url 'my-update-image' %}" class="text-secondary">Update Profile Picture</a></br>
            <a href="{% url 'my-update-email' %}" class="text-secondary">Update Email</a>

        {% elif target in user.profile.contacts.all %}
            <a href="{% url 'my-remove' target.id %}" class="text-secondary">Remove from contacts</a></br></br>
            <a href="{% url 'my-messenger' target.id %}" class="text-secondary">Send a message</a>

        {% else %}
            <a href="{% url 'my-add' target.id %}" class="text-secondary">Add to contacts</a></br></br>
            <a href="{% url 'my-messenger' target.id %}" class="text-secondary">Send a message</a>
        {% endif %}
        </br>
    {% endif %}
    </br>
    
    <div class="container">
        <h2 class="border-bottom" style="margin-bottom: 2%; width: 40%; margin-right: 60%;">{{ target.username }}'s Posts</h2>
        {% for post in target.written_posts.all %}
            <div class="container" style="margin-bottom: 2%;">
                    
                    <h2 title="{{ post.time_posted }}">
                        <a href="{% url 'my-post' post.id %}" class="text-secondary">
                            {{ post.title }}
                        </a>
                    </h2>
                    
                </div>
        {% endfor %}
    </div>
{% endblock %}