{% extends 'MyPage/base.html' %}

{% block content %}
    <img src='{{ target.profile.image.url }}' style='width:10%;' alt="No Profile Picture Set" class="rounded-circle"> 
    <h1>
    {{ target.username }}
    </h1>

    {{ target.email }}

    </br>
    {% if user.is_authenticated %}
        {% if target == user %}
            
            <a href="{% url 'my-update-image' %}" class="text-secondary">Update Profile Picture</a></br>
            <a href="{% url 'my-update-email' %}" class="text-secondary">Update Email</a>

        {% elif target in user.profile.contacts.all %}
            <a href="{% url 'my-remove' target.id %}" class="text-secondary">Remove from contacts</a></br>
            <a href="{% url 'my-chat' target.id %}" class="text-secondary">Chat with {{target.username}}</a>

        {% else %}
            <a href="{% url 'my-add' target.id %}" class="text-secondary">Add to contacts</a></br>
            <a href="{% url 'my-chat' target.id %}" class="text-secondary">Chat with {{target.username}}</a>
        {% endif %}
        </br>
    {% endif %}
    </br>
    
    <div class="container">
        <h2 class="border-bottom bottom-line">{{ target.username }}'s Posts</h2>
        {% for post in posts %}
            <div class="container" style="margin-bottom: 2%;">
                    
                    <h2 title="{{ post.time_posted }}">
                        <a href="{% url 'my-post' post.id %}" class="text-secondary">
                            {{ post.title }}
                        </a>
                    </h2>
                    
                </div>
        {% endfor %}
    {% if posts.has_other_pages %}
            {% if posts.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
            {% endif %}

    {% endif %}
    </div>
{% endblock %}