{% extends 'MyPage/base.html' %}
{% block content %}
    <h3 class='border-bottom' style="width: 50%;">Sent Messages</h3>
    {% if not user.written_messages.all %}
        <h3> No messsages written </h3>
    {% endif %}
    {% for message in user.written_messages.all %}
    <div class="container">
        <h4 title="by {{ message.sent_by }}">{{ message.title }}</h4>
        <div class="container">
            <p>{{ message.message }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}